*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.nav-container, .text-head, .section-container, .download-container, .ref-container, .footer-container{
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
.background-nav{
    background-color: #255EE9;
    padding: 20px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
}


nav{
    flex-grow: 2;
}

.head-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.head-ul a{
    color: white;
}

.logo, .button-access{
    flex-grow: 1;
}

.button-access{
    display: flex;
    justify-content: end;
}

.btn{
    padding: 10px;
    border-radius: 50px;
}

.button-access .small{
    background-color: white;
}

.button-access .small a{
    color: black;
}

.section-img, .section-text, .download-container, .ref-container div, .footer-container, .logo-footer, .sing-in{
    border: 2px dotted black;
    /* DEBUG */
}

.background-text-head{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding: 100px;
}

.text-head{
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.text-head h1{
    padding-top: 30px;
    padding-bottom: 20px;
}

.text-head p{
    width: 60%;
    margin: auto;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.text-head .btn{
    background-color: white;
    margin: 20px;
}

.text-head .white a{
    color: black;
    background-color: white;
}

.text-head .black{
    background-color: black;
}

.text-head .black a{
    color: white;
}

/* MAIN SECTION */

section{
    padding: 20px;
}

.section-container{
    height: 300px;/* DEBUG */
    display: flex;
    justify-content: flex-start;
}

.section-img{
    flex-grow: 2;
    background-color: #1E90FF;/* DEBUG */
}

.section-text{
    flex-grow: 1;
    background-color: #FFC0CB;/* DEBUG */
}

.background-section{
    background-color: lightgray;/* DEBUG */
    padding: 20px;
}

.download-container{
    height: 500px;/* DEBUG */
    background-color: green;/* DEBUG */
}

/* FOOTER */

footer{
    background-color: #23272A;/* DEBUG */
    padding: 20px;
    padding-bottom: 0px;
}

.ref-container{
    height: 400px;/* DEBUG */
    background-color: #DAA520;/* DEBUG */
    display: flex;
    justify-content: flex-start;
}

.ref-container div{
    background-color: #20B2AA;/* DEBUG */
    flex-grow: 1;
}

#social{
    background-color: #F08080;/* DEBUG */
    flex-grow: 2;
}

.footer-container{
    height: 100px;/* DEBUG */
    background-color: #7FFFD4;/* DEBUG */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer, .sing-in{
    background-color: #FFB6C1;/* DEBUG */
}