*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: white;
}

p{
    line-height: 30px;
}

ul{
    list-style: none;
}

.btn-small{
    padding: 10px 15px;
    border-radius: 50px;
}

.btn-big{
    padding: 15px 20px;
    border-radius: 50px;
}

.nav-container, .text-head, .section-container, .download-container, .ref-container, .footer-container{
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
.background-nav{
    background-color: #255EE9;
    padding: 20px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
}


nav{
    flex-grow: 2;
}

.head-ul{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.head-ul a{
    color: white;
}

.logo, .button-access{
    flex-grow: 1;
}

.button-access{
    display: flex;
    justify-content: end;
}

.button-access .btn-small{
    background-color: white;
}

.button-access .btn-small a{
    color: black;
}

.background-text-head{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding: 100px;
}

.text-head{
    color: white;
    text-align: center;
}

.text-head h1{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 3rem;
}

.text-head p{
    width: 60%;
    margin: auto;
    font-size: 1.2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn-container .btn-big{
    margin: 30px 10px;
}

.btn-container .white{
    background-color: white;
}

.btn-container .white a{
    color: black;
    background-color: white;
}

.btn-container .black{
    background-color: black;
}

.btn-container .black a{
    color: white;
}

.btn-big .fa-arrow-down-long{
    margin-right: 5px;
}
/* MAIN SECTION */

section{
    padding: 20px;
}

.section-container{
    display: flex;
    justify-content: flex-start;
}

.section-img{
    flex-grow: 2;
}

.section-text{
    flex-grow: 1;
    padding: 20px;
}

.section-text h1{
    font-size: 3rem;
    padding-bottom: 30px;
}

.section-text p{
    font-size: 1.2rem;
}

.background-section{
    background-color: #F6F6F6;
    padding: 20px;
}

.download-container{
    text-align: center;
}

.download-container h1{
    font-size: 3rem;
    padding-bottom: 30px;
}

.download-container p{
    font-size: 1.2rem;
    padding-bottom: 30px;
}

.stars{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: top center;
    padding: 60px;
}

.download-container .btn-big{
    background-color: #7289DA;
}

.download-container .btn-big a{
    color: white;
}
/* FOOTER */

footer{
    background-color: #23272A;/* DEBUG */
    padding: 20px;
    padding-bottom: 0px;
}

.ref-container{
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

.ref-container div{
    flex-grow: 1;
}

.social{
    flex-grow: 2;
}

.social h2{
    color: #7289DA;
    padding-bottom: 20px;
}

.social img{
    width: 30px;
    vertical-align: middle;
}

.social span{
    color: white;
    vertical-align: middle;
}

.social span .fa-angle-down{
    font-size: 15px;
}

.icon{
    color: white;
    margin-top: 10px;
}

.icon .fa-brands{
    font-size: 20px;
    padding: 5px;
}

.ref-container li{
    color: #7289DA;
    padding-bottom: 20px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #3C4663;
    margin-top: 10px;
    padding: 50px 0 50px 0;
}

.footer-container .btn-small{
    background-color: #7289DA;
}